.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-left{
    justify-content: left;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    justify-content: right;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}

.bcwhite{
    background-color: white;
}
.font-large{
    font-size: large;
}
.text-grey{
    color: rgb(151, 148, 148);
}
.text-white{
    color: white;
}
.bold{
    font-weight: bold;
}

.nav_bar{
    color: white;
    background-color: black;
    max-width: auto;
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.left-nav{
    width: 50%;
}
.left-nav a{
    color: white;
    text-decoration: none;
}
.btn{
    color: white;
    background-color: #1f6a81;
    border: 0% solid black;
}

.container-1{
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 50px;
}
.container-2{
    margin-right: 10%; 
    margin-top: 50px;  
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}

.up-prof{
    height: 100px;
    width: auto;
    background-color: #1f6a81;
}
.up-secondary-box{
    height: 30px;
    width: auto;
    background-color: #484e50;
}
.main-prof{
    height: auto;
    width: auto;
    border: 3px solid #1f6a81;
    padding-left: 2%;
    margin-bottom: 50px;
}
.main-secondary-box{
    height: auto;
    width: auto;
    border: 3px solid #484e50;
    margin-bottom: 50px;
}
.padding-box{
    padding: 2%;
}
.secondary_bottom_box{
    height: 50px;
    width: auto;
    border-top: 3px solid #484e50;
    padding-left: 2%;
}
.profile_pic{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 2%;
    position: absolute;
}
.name-prof{
    margin-top: 60px;
}
.spacing-connections{
    margin-top: 10px;
    margin-bottom: 10px;
}

.prof-inner-icon{
    height: 20px;
    width: auto;
}
.border-pic{
    border-radius: 10%;
}
.circle{
    color: black;
    background-color: rgb(156, 156, 156);
    height: 25px;
    width: 25px;
    border-radius: 12px;
    margin-right: 5px;
}
.oval{
    color: black;
    background-color: rgb(156, 156, 156);
    height: 25px;
    width: auto;
    border-radius:50% 50% 50% 50%;
    margin-right: 5px;
}